* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    display: flex;
    padding: 16px 22px;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between; 
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.logo img {
    width: 75px;
    height: 53px;
}

.menu-button ion-icon {
    font-size: 42px;
}

main {
    width: 100%;
    margin: 75px 0px;
    padding-top: 26px;
}

li {
    border-radius: 2px;
    min-height: 40px;
    width: 100%;
    margin-bottom: 3px;
    padding: 12px 9px;
    display: flex;
    align-items: center;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 18px;
}

time {
    color: #AAAAAA;
}

li strong {
    font-weight: bold;
}

.status {
    background: #DCDCDC;
}

.public {
    background: #FFFFFF;
}

.private {
    background: #FFDEDE;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 25px 17px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    color: #000;
    border: none;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.send ion-icon{
    font-size: 26px;
}

/* aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 70%;
    height: 100%;
    background: #FFFFFF;
    flex-direction: column;
}

.aside-title {
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

aside h1{
    padding: 0px 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
} */